<a href="https://colab.research.google.com/github/mayank-soni/text_summary/blob/transformer-compare/notebooks/compare_news_topics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests

In [47]:
def get_headlines(topic):
    url = "https://api.newscatcherapi.com/v2/latest_headlines"
    params = {'sources':'channelnewsasia.com', 'topic': topic, 'page_size': '10'}
    headers = {"x-api-key": "6vd88tgTAIy_wG54FBEJPHJ_e7LdmYJWto3qFEslLOI"}
    response = requests.get(url, headers=headers, params=params)
    return response.json()

In [66]:
sport = get_headlines('sport')  #ok
tech = get_headlines('tech')  
finance = get_headlines('finance')   
travel = get_headlines('travel')
politics = get_headlines('politics')
business = get_headlines('business')  #ok
economics = get_headlines('economics')
entertainment = get_headlines('entertainment')
beauty = get_headlines('beauty')
music = get_headlines('music')
food = get_headlines('food')
science = get_headlines('science')
gaming = get_headlines('gaming')
energy = get_headlines('energy')

In [77]:
sport = get_headlines('sport')
sport

{'status': 'error',
 'error_code': 'LimitReached',
 'message': 'Monthly API calls limit reached: 50'}

In [13]:
pip install newspaper3k

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting newspaper3k
  Downloading newspaper3k-0.2.8-py3-none-any.whl (211 kB)
     |████████████████████████████████| 211 kB 5.1 MB/s
Requirement already satisfied: PyYAML>=3.11 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (6.0)
Collecting feedparser>=5.2.1
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 8.6 MB/s
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (2.8.2)
Collecting tinysegmenter==0.3
  Downloading tinysegmenter-0.3.tar.gz (16 kB)
Requirement already satisfied: lxml>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (4.9.1)
Requirement already satisfied: requests>=2.10.0 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (2.23.0)
Collecting tldextract>=2.0.1
  Downloading tldextract-3.4.0-py3-none-any.whl (93 kB)
     |████████████████████████████████| 93 kB 2.1 MB/s
Requirement already satisfied: Pillow>=3.3.0 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (7.1.2)
Requirement already satisfied: nltk>=3.2.1 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (3.7)
Collecting feedfinder2>=0.0.4
  Downloading feedfinder2-0.0.4.tar.gz (3.3 kB)
Requirement already satisfied: beautifulsoup4>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from newspaper3k) (4.6.3)
Collecting cssselect>=0.9.2
  Downloading cssselect-1.2.0-py2.py3-none-any.whl (18 kB)
Collecting jieba3k>=0.35.1
  Downloading jieba3k-0.35.1.zip (7.4 MB)
     |████████████████████████████████| 7.4 MB 38.2 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from feedfinder2>=0.0.4->newspaper3k) (1.15.0)
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.2.1->newspaper3k) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk>=3.2.1->newspaper3k) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.2.1->newspaper3k) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk>=3.2.1->newspaper3k) (2022.6.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.10.0->newspaper3k) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.10.0->newspaper3k) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.10.0->newspaper3k) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.10.0->newspaper3k) (2.10)
Requirement already satisfied: filelock>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from tldextract>=2.0.1->newspaper3k) (3.8.0)
Collecting requests-file>=1.4
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Building wheels for collected packages: tinysegmenter, feedfinder2, jieba3k, sgmllib3k
  Building wheel for tinysegmenter (setup.py) ... done
  Created wheel for tinysegmenter: filename=tinysegmenter-0.3-py3-none-any.whl size=13552 sha256=792573647686e09039abeb72287d70071bb7e95055432552b259cbc6a21ed476
  Stored in directory: /root/.cache/pip/wheels/df/67/41/faca10fa501ca010be41b49d40360c2959e1c4f09bcbfa37fa
  Building wheel for feedfinder2 (setup.py) ... done
  Created wheel for feedfinder2: filename=feedfinder2-0.0.4-py3-none-any.whl size=3354 sha256=e01dab506abba7e2333cd8ca35debb0d3fee2d8892f213aa2ecd31905d698485
  Stored in directory: /root/.cache/pip/wheels/7f/d4/8f/6e2ca54744c9d7292d88ddb8d42876bcdab5e6d84a21c10346
  Building wheel for jieba3k (setup.py) ... done
  Created wheel for jieba3k: filename=jieba3k-0.35.1-py3-none-any.whl size=7398405 sha256=aec5f1f8883c0f07ff5688ec7cc5acbb37db6fcee385ad29e3a77e4b255a0b4c
  Stored in directory: /root/.cache/pip/wheels/4c/91/46/3c208287b726df325a5979574324878b679116e4baae1af3c3
  Building wheel for sgmllib3k (setup.py) ... done
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6066 sha256=95a2d8947550cf2602bc721f64e7f6b7a097f0502340041af84cab0594ad5a47
  Stored in directory: /root/.cache/pip/wheels/73/ad/a4/0dff4a6ef231fc0dfa12ffbac2a36cebfdddfe059f50e019aa
Successfully built tinysegmenter feedfinder2 jieba3k sgmllib3k
Installing collected packages: sgmllib3k, requests-file, tldextract, tinysegmenter, jieba3k, feedparser, feedfinder2, cssselect, newspaper3k
Successfully installed cssselect-1.2.0 feedfinder2-0.0.4 feedparser-6.0.10 jieba3k-0.35.1 newspaper3k-0.2.8 requests-file-1.5.1 sgmllib3k-1.0.0 tinysegmenter-0.3 tldextract-3.4.0

In [15]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [59]:
from bs4 import BeautifulSoup
import newspaper
from newspaper import Article

#topics = [sport,tech]  #,finance,travel,politics,business,economics,entertainment,beauty,music,food,science,gaming,energy]

#articles_dict={}
articles_list =[]

#for topic in topics:
for article in sport['articles']:    
    link = article['link'] 
    article = Article(link)
    article.download()
    article.parse()
    article.nlp()
    articles_list.append(article.text)
sports_articles[0]

'AL RAYYAN, Qatar: Michy Batshuayi scored and Thibaut Courtois saved a penalty as a lacklustre Belgium opened their World Cup campaign on Wednesday (Nov 23) with a scrappy 1-0 win over an energetic Canada side returning to the finals for first time in 36 years.\n\nLeading the Belgian attack in the absence of injured talisman Romelu Lukaku, Batshuayi scored against the run of play on the stroke of halftime to put the Red Devils top of Group F ahead of Morocco and Croatia who earlier drew 0-0.\n\nDespite getting the win, Belgium coach Roberto Martinez was far from satisfied with his team\'s lethargic display as the Red Devils managed only nine attempts on goal to 21 for Canada.\n\nIf not for the lack of a Canadian finisher and a penalty save by Courtois from Alphonso Davies the result could have been very different for second ranked Belgium.\n\n"We win, that\'s the most important thing today," said Martinez. "As always, we still have to grow in this tournament and improve things.\n\n"Many top teams have lost, because you always have to grow at a World Cup.\n\n"If you can do that, but win your matches at the same time, then that is something you can build on."\n\nIn their only other World Cup appearance in Mexico in 1986, Canada lost all three matches and failed to score a goal.\n\nDespite an inspired effort decades later, the result remained the same as Canada walked off Ahmad Bin Ali Stadium pitch with another loss and failure to find the back of the net.\n\nCanada looked as if they would register their long-awaited first goal when Belgium\'s Yannick Carrasco handled the ball in the 11th minute and Davies stepped up to take the penalty with the flag-waving Canadian supporters the Voyageurs roaring.\n\nBut Courtois, one of the world\'s best goalkeepers, denied Davies an historic score by stopping his weak spot-kick.\n\n"It\'s not easy to score goals at this World Cup as you can see," said Canada coach Herdman. "I think the set-pieces, we need to clean them up.\n\n"I thought there were some missed opportunities there we need to get back to the drawing board on.\n\n"Sometimes it\'s your night and sometimes it\'s not."'

In [95]:
import pandas as pd
data = pd.read_csv('Websites.csv')
data.head()

      Genre                                               Link
0    Sports  https://www.channelnewsasia.com/sport/france-b...
1    Sports  https://www.channelnewsasia.com/sport/belgium-...
2    Sports  https://www.channelnewsasia.com/sport/stutteri...
3    Sports  https://www.cbssports.com/college-basketball/n...
4  Business  https://www.channelnewsasia.com/business/share...

In [99]:
import newspaper
from newspaper import Article

articles =[]

for index, row in data.iterrows():
    link = row['Link']
    article = Article(link)
    article.download()
    article.parse()
    article.nlp()
    data.at[index,'article']= article.text
data.head()

,Genre,Link,article
0,Sports,https://www.channelnewsasia.com/sport/france-b...,LYON: Defending champions France may have won ...
1,Sports,https://www.channelnewsasia.com/sport/belgium-...,"AL RAYYAN, Qatar: Michy Batshuayi scored and T..."
2,Sports,https://www.channelnewsasia.com/sport/stutteri...,"AL KHOR, Qatar: Croatia's World Cup campaign g..."
3,Sports,https://www.cbssports.com/college-basketball/n...,We're two weeks and change into the college ba...
4,Business,https://www.channelnewsasia.com/business/share...,NEW YORK: World equities rose while US Treasur...

In [100]:
data.to_excel("output.xlsx")